<!DOCTYPE html>
<html>
<head>
	<title>Inventory</title>
	<link rel='stylesheet' href='/style/allinventory.css'>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  	<script src="/js/bootstrap.min.js"></script>
	<script src="https://checkout.stripe.com/checkout.js"></script>
</head>
<body>
<div id="landing" class="navbar transparent navbar-inverse navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="/">Everlane</a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Men<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/inventory">New Arrivals</a></li>
              <li><a href="/inventory">Tops</a></li>
              <li><a href="/inventory">Bottoms</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/inventory">Accessories</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#"><strong>SALE ITEMS!</strong></a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Women<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/inventory">New Arrivals</a></li>
              <li><a href="/inventory">Tops</a></li>
              <li><a href="/inventory">Bottoms</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/inventory">Accessories</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#"><strong>SALE ITEMS!</strong></a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cart<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><h6 class="dropdown-item"></h6></li>
              <li><h6 id="cartPrice"></h6></li>
              <li role="separator" class="divider"></li>
              <li id="checkoutBtn"><button onclick="checkout()" class="btn btn-success">Checkout</button></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/login">Returning Customer?</a></li>
            <li><a href="/register">New Customer?</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Login via Facebook</a></li>
          </ul>
          </li>
        </ul>
        <!--<form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>-->
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid-->
    </nav>
  <div class="container">
  </div>
</div>
<br>
<br>
<br>
	<div class="container"> 
		<ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  <li class="active">Tops</li>
		</ol>
		<h3 id="cartPrice">Welcome to Everlane!</h3>

		<% for (item of items) { %>
			<table>
        <tr>
        <th><img class="img" src="<%= item.image %>"></th>
  			<td>
        <h4><%= item.name %></h4>
  			<h5><%= item.category %></h5>
  			<h5>$<%= item.price.toFixed(2) %></h5>
  			<button onclick="addToCart('<%= item._id %>')" class="btn btn-success">add to cart</button><br>
        </td>
        <br>
        </tr>
      </table>
		<% } %>
	</div>
</body>

<script type="text/javascript">
    var cart = [];
    var inventory = <%- JSON.stringify(items) %>;

    function addToCart(item_id) {
        for (item of inventory) {
            if (item_id == item._id) {
            cart.push(item);
            //$('#drTg').dropdown('toggle');
            break;
            }
    }
    var price = calculateSubtotal();
    document.getElementById("cartPrice").innerHTML = "Cart Total: $" + price.toFixed(2);
    $('.dropdown-item').prepend('<p>' + item.name +' $'+ item.price.toFixed(2)+'</p>');
    }   

    function calculateSubtotal() {
        var subtotal = 0;
        for (item of cart) {
            subtotal += item.price;
            }
        return subtotal;
    }

    function checkout() {
        location.href = '/checkout?cart=' + JSON.stringify(cart);
    }

</script>
</html>