<!DOCTYPE html>
<html lang="en">
<head>
	<link rel='stylesheet' href='/style/mystyle.css'>

	<title>Checkout</title>

	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://checkout.stripe.com/checkout.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
</head>
<body>
	<div class="container">
		<p>
			<div class="page-header">
				<a href="/">
					<img border="0" alt="W3Schools" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/47063-05f369b7b1527132ba05343f1b8ebb91-medium_jpg.jpg" width="100" height="100">
				</a>
			</div>
		</p> 
		<table style="width:100%" class="table">
			<caption >
				<h2>One step away to get to your doorstep..</h2>
			</caption>
			<tr>
				<th>Item</th>
				<th>Description</th>
				<th>Price</th>
			</tr>
			<% for (item of items) { %>
				<tr>
					<td><img src="<%= item.image %>" height="50" width="50"></td>
					<td><%= item.name %></td>
					<td>$<%= item.price.toFixed(2) %></td>
				</tr>
			<% } %>
			<tr>
				<td>Sub-total</td>
				<td></td>
				<td>$<%= subtotal.toFixed(2) %></td>
			</tr>
			<tr>
				<td>Discount</td>
				<td></td>
				<td>- $<%= discounts.toFixed(2) %></td>
			</tr>
			<tr>
				<td>Taxes</td>
				<td></td>
				<td>+ $<%= taxes.toFixed(2) %></td>
			</tr>
			<tr>
				<td>Total</td>
				<td></td>
				<td>$<%= total.toFixed(2) %></td>
			</tr>			
		</table>
		<button type="button" class="pull-left btn btn-success">
			<a href="/inventory">Continue Shopping...</a>
		</button>
		<button type="button" class="pull-right btn btn-success" id="customButton">Purchase</button>

		<script>
			var handler = StripeCheckout.configure({
				key: 'pk_test_Hf5YzhbmfP9ns1akMPhEpDMv',
				image: 'https://d1qb2nb5cznatu.cloudfront.net/startups/i/47063-05f369b7b1527132ba05343f1b8ebb91-medium_jpg.jpg',
				locale: 'auto',
				token: function(token) {
					var data = {
						'amount': <%- total.toFixed(2) %>,
						'cart': <%- JSON.stringify(items) %>,
						'token': token
					};
					location.href = "/confirm?data=" + JSON.stringify(data);
				}
			});

			$('#customButton').on('click', function(e) {
				handler.open({
					name: 'Everlane',
					description: 'Radical Transparency',
					amount: <%- total.toFixed(2) * 100 %>
				});
			});

			$(window).on('popstate', function() {
			    handler.close();
			});
		</script>
	</div>	
</body>
</html>