<!DOCTYPE html>
<html>
<head>
	<title>Checkout</title>
</head>
<body>
<table>
	<tr>
		<th>Image</th>
		<th>Name</th>
		<th>Price</th>
	</tr>
	<% for (item of items) { %>
		<tr>
			<td><img src="<%= item.image %>" height="50" width="50"></td>
			<td><%= item.name %></td>
			<td>$<%= item.price.toFixed(2) %></td>
		</tr>
	<% } %>
	<tr>
		<td>Sub-total</td>
		<td></td>
		<td>$<%= subtotal.toFixed(2) %></td>
	</tr>
	<tr>
		<td>Discount</td>
		<td></td>
		<td>- $<%= discounts.toFixed(2) %></td>
	</tr>
	<tr>
		<td>Taxes</td>
		<td></td>
		<td>+ $<%= taxes.toFixed(2) %></td>
	</tr>
	<tr>
		<td>Total</td>
		<td></td>
		<td>$<%= total.toFixed(2) %></td>
	</tr>

			
</table>
<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
    data-amount="<%= (total.toFixed(2))*100 %>"
    data-name="Everlane"
    data-description="Radical Transparency"
    data-image="https://d1qb2nb5cznatu.cloudfront.net/startups/i/47063-05f369b7b1527132ba05343f1b8ebb91-medium_jpg.jpg"
    data-locale="auto">
  </script>
</form>
</body>
</html>